.footer {
    grid-area: 66 / 1 / 70 / 19;
    background-color: #232323;;
}

.footer_heading {
    grid-area: 67 / 9 / 68 / 12;
    font-family: variables.$font_jose;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 3.36px;
    text-transform: uppercase;
    color: variables.$color;
}

.footer_p {
    grid-area: 68 / 8 / 69 / 12;
    position: relative;
    left: 5px;
    font-family:  variables.$font_jose;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1px;
    text-align: center;
    letter-spacing: 1.8px;
    color: variables.$color;
}

.footer_icons {
    grid-area: 69 / 9 / 70 / 11;
    display: flex;
    justify-content: space-between;

    & a {
        color: variables.$color;
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1px;
        letter-spacing: 1.6px;
    }

    &_in {
        color: #5474FD;
    }
}

@media screen and (max-width: 900px) {

    .footer_heading {
        font-size: 18px;
        line-height: 13px;
        letter-spacing: 1.8px;
    }

    .footer_p {
        font-size: 12px;
        line-height: 0.5px;
        letter-spacing: 0.6px;
    }
}

@media screen and (max-width: 610px) {

    .footer_p {
        font-size: 8px;
        line-height: 0.3px;
        letter-spacing: 0.3px;
    }
}

@media screen and (max-width: 400px) {

    .footer_p {
        font-size: 6px;
        line-height: 0.2px;
        letter-spacing: 0.2px;
    }
}