.container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-auto-rows: 60px;
    background-color: aqua;
    max-width: 1500px;
    width: 100%;
    min-height: 700vh;
}

.header {
    grid-area: 1 / 1 / 13 / 19;
    background-image: url(../images/header/header_img.png);
    background-size: 100% 100%;
}

.heading_h1 {
    grid-area: 4 / 8 / 5 / 12;
    font-family: variables.$font_jose;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: variables.$color;
}

.header_p {
    grid-area: 5 / 8 / 6 / 13;
    font-family: variables.$font_jose;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 6px;
    color: variables.$color;
}

.search_input {
    grid-area: 6 / 7 / 7 / 12;
    width: 100%;
    height: 80%;
    text-align: center;
    font-family: variables.$font_jose;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #999999;
    outline: none;
}

.search_btn {
    grid-area: 6 / 12 / 7 / 14;
    width: 100%;
    height: 90%;
    font-family: variables.$font_aleo;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: variables.$color;
    background-color: #5474FD;
    border: 2px solid #FFFFFF;

    &:hover {
        background-color: black;
    }
}

.scroll {
    grid-area: 8 / 9 / 9 / 12;
    position: relative;
    left: 30px;
    font-family: variables.$font_jose;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: variables.$color;
}

.down-arrow {
    grid-area: 9 / 10 / 10 / 11;
    position: relative;
    bottom: 20px;
    right: 3px;
    color: variables.$color;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: 12 / 1 / 13 / 19;
    background-color: #5474FD;

    & h3 {
        position: relative;
        right: 20px;
        font-family: variables.$font_jose;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 2.4px;
        text-transform: uppercase;
    }

    & a {
        text-decoration: none;
        color: variables.$color;
    }

    &__list {
        width: 40%;
    }

    &__list ul {
        display: flex;
        justify-content: space-between;
    }

    &__list li {
        display: inline;
        font-family: variables.$font_aleo;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
    }

    &__list a:hover {
        color: black;
    }
}
