.container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-auto-rows: 60px;
    background-color: aqua;
    max-width: 1500px;
    width: 100%;
    min-height: 200vh;
}

.header {
    grid-area: 1 / 1 / 10 / 19;
    background-image: url(../images/header_img.png);
    background-size: 100% 100%;
}

.heading_h1 {
    grid-area: 3 / 8 / 4 / 12;
    font-family: variables.$font;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header_p {
    grid-area: 4 / 8 / 5 / 13;
    font-family: variables.$font;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6px;
    color: #FFFFFF;
}