.section1 {
    grid-area: 13 / 1 / 25 / 19;
    background-image: url(../images/section1/section1_img.png);
    background-size: 100% 100%;
}

%section_img {
    width: 100%;
    height: 95%;
}

.section1_img1 {
    @extend %section_img;
    grid-area: 15 / 11 / 19/ 15;
}

.section1_img2 {
    @extend %section_img;
    grid-area: 19 / 12 / 23 / 16;
}

.section1_heading {
    grid-area: 16 / 3 / 17 / 7;
    font-family: variables.$font_aleo;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: variables.$color;
}

%section1_p {
    position: relative;
    bottom: 20px;
    font-family: variables.$font_jose;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: variables.$color;
}

.section1_p1 {
    @extend %section1_p;
    grid-area: 18 / 3 / 19 / 10;
}

.section1_p2 {
    @extend %section1_p;
    grid-area: 20 / 3 / 21 / 10;
}

.section1_btn {
    grid-area: 22 / 3 / 23 / 6;
    position: relative;
    bottom: 20px;
    background-color: #496BFE;
    font-family: variables.$font_aleo;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;

    & a {
        text-decoration: none;
        color: variables.$color;
    }

    &:hover {
        background-color: black;
        transition: all 0.5s ease-in-out;
    }
}

@media screen and (max-width: 800px) {
    .section1_heading {
        font-size: 20px;
        line-height: 13px;
    }

    .section1_p1 {
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.8px;
    }

    .section1_p2 {
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.8px;
    }

    .section1_btn {
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.6px;
    }
}

@media screen and (max-width: 800px) {

    .section1_btn {
        font-size: 6px;
        line-height: 8px;
        letter-spacing: 0.3px;
    }
}