.section5 {
    grid-area: 54 / 1 / 66 / 19;
    background-image: url(../images/section5/section5_img.png);
    background-size: 100% 100%;
}

.section5_heading {
    grid-area: 55 / 8 / 56 / 13;
    font-family: variables.$font_aleo;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    text-align: center;
    color: variables.$color;
}

.section5_img1 {
    grid-area: 58 / 3 / 63 / 9;
    width: 100%;
    height: 100%;
}

.section5_background {
    grid-area: 58 / 9 / 63 / 16;
    background-color: #333333;
}

.section5_heading2 {
    grid-area: 58 / 10 / 59 / 12;
    font-family: variables.$font_jose;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FEFEFE;
}

.section5_p {
    grid-area: 59 / 10 / 62 / 16;
    font-family: variables.$font_jose;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
}

.section5_i {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #5474FD;
}

@media screen and (max-width: 1180px) {

    .section5_heading {
        font-size: 20px;
        ine-height: 13px;
    }

    .section5_heading2 {
        font-size: 12px;
        line-height: 13px;
    }

    .section5_p {
        font-size: 15px;
        line-height: 13px;
    }

    .section5_i {
        font-size: 20px;
        line-height: 13px;
    }
}

@media screen and (max-width: 500px) {

    .section5_p {
        font-size: 10px;
        line-height: 13px;
    }
}