.section1 {
    grid-area: 13 / 1 / 25 / 19;
    background-image: url(../images/section1/section1_img.png);
    background-size: 100% 100%;
}

.section1_img1 {
    grid-area: 15 / 11 / 19/ 15;
}

.section1_img2 {
    grid-area: 19 / 12 / 23 / 16;
}