.section3 {
    grid-area: 30 / 1 / 42 / 19;
    background-image: url(../images/section3/section3_img.png);
    background-size: 100% 100%;
}

.section3_background {
    grid-area: 33 / 3 / 40 / 10;
    background-color: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
}

%section3_content {
    position: relative;
    left: 30px;
    top: 20px;
    z-index: 1;
    font-family: variables.$font_jose;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.section3_heading1 {
    @extend %section3_content;
    grid-area: 33 / 3 / 34 / 5;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #E8E8E8;
}

.section3_heading2 {
    @extend %section3_content;
    grid-area: 34 / 3 / 35 / 7;
    color: variables.$color;
    font-size: 20px;
    text-transform: uppercase;
}

.section3_p {
    @extend %section3_content;
    grid-area: 35 / 3 / 37 / 9;
    font-size: 16px;
    color: #E8E8E8;
}

.section3_btn {
    grid-area: 38 / 3 / 39 / 6;
    position: relative;
    left: 30px;
    z-index: 1;
    background-color: #5474FD;
    border: none;

    & a {
        text-decoration: none;
        font-family: variables.$font_aleo;
        color: variables.$color;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    &:hover {
        background-color: black;
        transition: all 0.5s ease-in-out;
    }
}

@media screen and (max-width: 920px) {

    .section3_heading1 {
        font-size: 15px;
        letter-spacing: 0.8px;
    }

    .section3_heading2 {
        font-size: 15px;
    }

    .section3_p {
        font-size: 12px;
    }

    .section3_btn a {
        font-size: 8px;
        line-height: 13px;
        letter-spacing: 0.6px;
    }

}

@media screen and (max-width: 400px) {

    .section3_p {
        font-size: 10px;
    }

}