.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[18];
  grid-template-columns: repeat(18, 1fr);
  grid-auto-rows: 60px;
  background-color: aqua;
  max-width: 1500px;
  width: 100%;
  min-height: 200vh;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 18;
  grid-area: 1/1/10/19;
  background-image: url(../images/header_img.png);
  background-size: 100% 100%;
}

.heading_h1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-area: 3/8/4/12;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header_p {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-area: 4/8/5/13;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6px;
  color: #FFFFFF;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}