.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[18];
  grid-template-columns: repeat(18, 1fr);
  grid-auto-rows: 60px;
  background-color: aqua;
  max-width: 1500px;
  width: 100%;
  min-height: 300vh;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  -ms-grid-column: 1;
  -ms-grid-column-span: 18;
  grid-area: 1/1/13/19;
  background-image: url(../images/header/header_img.png);
  background-size: 100% 100%;
}

.heading_h1 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-area: 4/8/5/12;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
}

.header_p {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-area: 5/8/6/13;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 6px;
  color: white;
}

.search_input {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: 6/7/7/12;
  width: 100%;
  height: 80%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
  outline: none;
}

.search_btn {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 12;
  -ms-grid-column-span: 2;
  grid-area: 6/12/7/14;
  width: 100%;
  height: 90%;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: white;
  background-color: #5474FD;
  border: 2px solid #FFFFFF;
}
.search_btn:hover {
  background-color: black;
}

.scroll {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-area: 8/9/9/12;
  position: relative;
  left: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: white;
}

.down-arrow {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-area: 9/10/10/11;
  position: relative;
  bottom: 20px;
  right: 3px;
  color: white;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 18;
  grid-area: 12/1/13/19;
  background-color: #5474FD;
}
.nav h3 {
  position: relative;
  right: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.nav a {
  text-decoration: none;
  color: white;
}
.nav__list {
  width: 40%;
}
.nav__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__list li {
  display: inline;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.nav__list a:hover {
  color: black;
}

.section1 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 12;
  -ms-grid-column: 1;
  -ms-grid-column-span: 18;
  grid-area: 13/1/25/19;
  background-image: url(../images/section1/section1_img.png);
  background-size: 100% 100%;
}

.section1_img1 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 4;
  -ms-grid-column: 11;
  -ms-grid-column-span: 4;
  grid-area: 15/11/19/15;
}

.section1_img2 {
  -ms-grid-row: 19;
  -ms-grid-row-span: 4;
  -ms-grid-column: 12;
  -ms-grid-column-span: 4;
  grid-area: 19/12/23/16;
}

.section1_heading {
  -ms-grid-row: 16;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: 16/3/17/7;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  color: white;
}

.section1_p2, .section1_p1 {
  position: relative;
  bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: white;
}

.section1_p1 {
  -ms-grid-row: 18;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: 18/3/19/10;
}

.section1_p2 {
  -ms-grid-row: 20;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: 20/3/21/10;
}

.section1_btn {
  -ms-grid-row: 22;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 22/3/23/6;
  position: relative;
  bottom: 20px;
  background-color: #496BFE;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: none;
}
.section1_btn a {
  text-decoration: none;
  color: white;
}
.section1_btn:hover {
  background-color: black;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}