.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[18];
  grid-template-columns: repeat(18, 1fr);
  grid-auto-rows: 60px;
  background-color: aqua;
  max-width: 1500px;
  width: 100%;
  min-height: 200vh;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 18;
  grid-area: 1/1/10/19;
  background-image: url(../images/header_img.png);
  background-size: 100% 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}